@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
}

body {
    background-image: url(/img/fundo.jpg);
    backdrop-filter: blur(10px);
}

main {
    text-align: center;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

header h1 {
    color: black;
    text-align: center;
}

form,
label {
    background-color: gray;
    padding: 5px;
    margin: 8px;
}

form {
    border: 8px solid black;
    /* width: 80%;
    height: 80%; */
}

input {
    border-radius: 10px;
    padding: 5px;
    display: block;
}

form #calculo {
    width: 250px;
    font-size: 18px;
    margin-bottom: 30px
}

#calculo:hover {
    transition: 1s;
}

.caixa {
    display: inline-block;
    margin: 0 auto;

}

.desc h2 {
    color: yellow;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    font-size: 100%;
    
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    /* color: black; */
    font-weight: bold;
}
